.todo__tasklist-container {
  margin: 0;
  padding: 0 1rem 1.5rem;
}

.tasklist__tasks-container {
  padding-left: 1rem;
}

.tasklist__tasks-container ol {
  display: block;
  margin: 0;
  padding: 0;
}

